{% extends 'base.html.twig' %}

{% block title %}{{ mode|capitalize }} Item{% endblock %}

{% block body %}
    {% for error in errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary" name="submit" value="submit">Save</button>
    <button type="submit" class="btn btn-secondary" name="submit" value="submit_add">Save And Add Another</button>
    {% if mode == 'edit' %}
        <button 
            type="submit" 
            class="btn btn-danger" 
            name="submit" 
            value="delete" 
            data-confirm="Are you sure you would like to delete this item?">
            Delete
        </button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

