{% extends 'base.html.twig' %}

{% block title %}
    {% if breadcrumb %}
        {# TODO: Link "items" while stripping tags in base title block #}
        {# <a href="{{ path('inventory_list') }}">Items</a> > {{ breadcrumb }} #}
        Items &raquo; {{ breadcrumb }}
    {% else %}
        Items
    {% endif %}
{% endblock %}

{% block body %}
    {% import 'macros.html.twig' as macros %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-right d-none d-md-table-cell">Location</th>
                <th scope="col" class="text-right" style="width:4rem">Qty</th>
                <th scope="col" class="text-right" style="width:10rem">Est. Value</th>
            </tr>
        </thead>
        <tbody>
            {% set total_quantity = 0 %}
            {% set total_value = 0.0 %}

            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a>
                    </td>
                    <td class="text-right d-none d-md-table-cell">
                        {{ macros.tags('locations', item.locations) }}
                    </td>
                    <td class="text-right">{{ item.quantity }}</td>
                    <td class="text-right">
                        {% if item.totalValue %}
                            {{ item.totalValue|localizedcurrency('USD') }}
                        {% endif %}
                    </td>
                </tr>
                {% set total_quantity = total_quantity + item.quantity %}
                {% set total_value = total_value + item.totalValue %}
            {% else %}
                <tr>
                    <td colspan="4">No items. Would you like to <a href="{{ path('inventory_add') }}">add one</a>?</td>
                </tr>
            {% endfor %}
            
            <tfoot>
                <tr>
                    <td><a class="btn btn-primary" href="{{ path('inventory_add') }}?return_to=list">Add</a></td>
                    <th scope="col" class="d-none d-md-table-cell"></th>
                    <th scope="col" class="text-right">{% if total_quantity %}{{ total_quantity }}{% endif %}</th>
                    <th scope="col" class="text-right">{% if total_value %}{{ total_value|localizedcurrency('USD') }}{% endif %}</td>
                </tr>
            </tfoot>
        </tbody>
    </table>
{% endblock %}
